<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nhvn.todoandroidnative">

    <uses-permission android:name="com.nhvn.todo.permission.SHARE_POST" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".TodosApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TodoAndroidNative">
        <activity
            android:name="com.nhvn.todoandroidnative.ui.elements.activities.DataAccessRationaleActivity"
            android:permission="android.permission.START_VIEW_PERMISSION_USAGE"
            android:exported="true">
            <!-- VIEW_PERMISSION_USAGE shows a selectable information icon on
            your app permission's page in system settings.
            VIEW_PERMISSION_USAGE_FOR_PERIOD shows a selectable information
            icon on the Privacy Dashboard screen. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW_PERMISSION_USAGE" />
                <action android:name="android.intent.action.VIEW_PERMISSION_USAGE_FOR_PERIOD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nhvn.todoandroidnative.ui.elements.activities.PermissionsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.elements.ReceivingIntentActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SET_ALARM" />

                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.SHOW_ALARMS" />
                <action android:name="android.intent.action.DIAL" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.elements.IntentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.elements.MainActivity"
            android:exported="true"
            android:label="@string/main_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.elements.DisplayMessageActivity"
            android:exported="false"
            android:parentActivityName=".ui.elements.MainActivity"
            android:permission="com.nhvn.todo.permission.SHARE_POST">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.elements.MainActivity" />
        </activity>

        <receiver
            android:name=".data.datasources.MyBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.INPUT_METHOD_CHANGED" />
                <action android:name="android.intent.action.AIRPLANE_MODE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>